
$white: hsl(0°, 0%, 100%);
$error: hsl(0°, 91%, 62%);
$button: hsl(212°, 100%, 50%);

// Define SCSS color variables for light mode

$secondary-text-light: hsl(217°, 20%, 51%);
$body-text-light: hsl(217°, 35%, 45%);
$background-main-light: hsl(227°, 100%, 98%);
$background-card-light: hsl(0°, 0%, 100%);
$header-text-light: hsl(217°, 21%, 21%);
$logo-text-light: hsl(220°, 18%, 16%);



// Define SCSS color variables for dark mode
$background-main-dark: hsl(220°, 40%, 13%);
$logo-text-dark: $white; // Light color for dark mode
$body-text-dark: $white;
$search-background-dark: hsl(222°, 41%, 20%);
$background-card-dark: hsl(222°, 41%, 20%);
$secondary-text-dark: $white;
$header-text-dark: $white;
