@mixin font-line($font-size, $line-height: normal) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
