/* light mode colors */
$button: hsl(212°, 100%, 50%);
$secondary-light: hsl(217°, 20%, 51%);
$body-text-light: hsl(217°, 35%, 45%);
$header-text-light:hsl(217°, 21%, 21%);
$background-main-light:hsl(227°, 100%, 98%);
$background-card: hsl(0°, 0%, 100%);


/* dark mode colors */
$button: hsl(212°, 100%, 50%);
$white: hsl(0°, 0%, 100%);
$body-text-dark: hsl(220°, 40%, 13%);
$header-text-dark:hsl(222°, 41%, 20%);

/* state */
$error: hsl(0°,91%,62%);