@use "./base/reset";
@use "./abstracts/colors" as *;
@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;
@use "./abstracts/typography" as *;

.disabled {
  opacity: 0.5;
}

.main-container {
  background-color: $background-main-light;
  @include flexbox($justify:center);
  height: 100vh;
  // Dark mode styles
  &[data-theme="dark"] {
    background-color: $background-main-dark;
  }

  .container-width {
    width: 90%;
  }
}
.main-container__header {
  width: 100%;
  @include flexbox($justify: space-between, $align: center);

  .logo {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    color: $logo-text-light;
    font-size: var(--font-h1);

    // Dark mode styles
    [data-theme="dark"] & {
      color: $secondary-text-dark;
    }
  }
}

