@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/variables" as *;

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $white;
  padding: 7px 7px 7px 16px;
  border-radius: $border-radius-2;
  box-shadow: $box-shadow;
  margin-top: 36px;

  // Dark mode styles
  [data-theme="dark"] & {
    background-color: $search-background-dark;
    box-shadow: none;
  }

  .error-msg {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    font-size: 13px;
    color: $error;
    white-space: nowrap;
    padding: 0 8px;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  input {
    font-family: "Space Mono", monospace;
    border: none;
    background-color: transparent;
    width: 100%; //to be removed later, after I add the no result div
    @include font-line(var(--font-h4), var(--line-height-4));
    caret-color: $button;
    color: $logo-text-light;
    padding: 8px;

    &::placeholder {
      color: $body-text-light;
    }

    &:focus-visible {
      outline-color: $button;
    }

    [data-theme="dark"] & {
      color: $logo-text-dark;
      &::placeholder {
        color: $body-text-dark;
      }
    }
  }

  .search-container__btn {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    padding: 12px 18px;
    background-color: $button;
    color: $white;
    border: none;
    border-radius: $border-radius-1;
    margin-left: 7px;
    @include font-line(var(--font-h4), var(--line-height-4));
    cursor: pointer;

    &:hover {
      background-color: $button-hover;
    }
  }
}

.suggestion-list-container {
  font-family: "Space Mono", monospace;
  @include font-line(var(--font-h4), var(--line-height-4));
  background-color: $white;
  border-radius: 10px;
  margin-top: -8px;
  position: absolute;
  width: 90%;
  max-width: 35.8rem;
  z-index: 100;


  @media (min-width:$media-medium-large-screen) {
    max-width: 45.625rem;
  }

  box-shadow: 0px 25px 50px -12px hsl(227, 46%, 51%, 25%);

  ul {
    list-style: none;
  }
  li {
    cursor: pointer;
    padding: 8px 24px;
    &:hover {
      background-color: $background-main-light;
    }
  }
  .active {
    background-color: $background-main-light;
  }
  .error {
    color: $error;
    padding: 16px 24px;
  }


  [data-theme="dark"] & {
    background-color: $background-card-dark;
    color: white;
    $box-shadow: 0px 16px 30px -10px hsla(227, 37%, 90%, 0.199);

    li:hover {
      background-color: $background-main-light;
      color: $background-card-dark;
    }
    .active {
      background-color: $background-main-light;
      color: $background-card-dark;
    }
  }
}

@media (min-width: $media-small-medium-screen) {
  .search-container {
    input {
      font-size: 18px;
    }

    .search-container__btn {
      font-size: 16px;
    }

    .error-msg {
      padding-left: 12px;
      padding-right: 12px;
      font-size: var(--font-body);
    }
  }
  .suggestion-list-container{
    @include font-line(var(--font-body), var(--line-height-body));
  }
}
