@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/colors" as *;

.theme-toggle-container {
  @include flexbox($justify: center, $align: center);
  gap: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  span {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    text-transform: uppercase;
    color: $body-text-light;
    letter-spacing: 0.156em;
    @include font-line(var(--font-h4), var(--line-height-4));

    // Dark mode styles
    [data-theme="dark"] & {
      color: $body-text-dark;
    }
  }

  img {
    width: 20px;
    height: 20px;
  }
}
