@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.user-bio {
  background-color: $background-card-light;
  margin-top: 16px;
  padding: 24px;
  border-radius: $border-radius-2;
  box-shadow: $box-shadow;

  // Dark mode styles
  [data-theme="dark"] & {
    background-color: $background-card-dark;
    box-shadow: none;
  }

  .user-bio__header {
    @include flexbox($align: center);
    gap: 19px;
  }
  .user-bio__text h1 {
    @include font-line(var(--font-h1-mobile), var(--line-height-h1-mobile));
    color: $header-text-light;

    // Dark mode styles
    [data-theme="dark"] & {
      color: $header-text-dark;
    }
  }

  .user-bio__text h3 {
    @include font-line(var(--font-h3-mobile), var(--line-height-h3-mobile));
    color: $button;
  }

  .user-bio__text p {
    padding-top: 7px;
    font-size: 13px;
    @include font-line(var(--font-h3-mobile), var(--line-height-h3-mobile));
    color: $secondary-text-light;

    // Dark mode styles
    [data-theme="dark"] & {
      color: $secondary-text-dark;
    }
  }

  .user-bio__img {
    width: 70px;
    height: 70px;

    img {
      border-radius: 50%;
    }
  }

  .user-bio__about {
    margin-top: 33px;

    p {
      font-size: 13px;
      @include font-line(var(--font-h3-mobile), 1.563rem);
      color: $secondary-text-light;

      [data-theme="dark"] & {
        color: $secondary-text-dark;
      }
    }
  }

  .icon-link__list {
    margin-top: 24px;
    list-style: none;

    .icon-link__item {
      font-family: "Space Mono", monospace;
      padding-bottom: 15px;
      color: $secondary-text-light;
      @include flexbox($align: center);
      gap: 13px;
      @include font-line(var(--font-h4), var(--line-height-h4));

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      [data-theme="dark"] & {
        color: $secondary-text-dark;
      }
    }
  }

  @media (min-width: $media-small-medium-screen) {
    padding: 40px;
    .user-bio__text {
      h1 {
        @include font-line(var(--font-h1), var(--line-height-h1));
      }
      h3 {
        @include font-line(var(--font-h3), var(--line-height-h3));
      }
      p {
        @include font-line(var(--font-body), var(--line-height-body));
      }
    }

    .user-bio__header {
      gap: 31px;
    }

    .user-bio__img {
      width: 117px;
      height: 117px;
    }

    .user-bio__about {
      margin-top: 24px;
      p {
        @include font-line(var(--font-body), var(--line-height-body));
      }
    }
    .icon-link__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .icon-link__item {
        @include font-line(var(--font-body), var(--line-height-body));
      }
    }
  }

  @media (min-width: $media-medium-large-screen) {
    padding: 48px;
    .user-bio__header {
      @include flexbox($align: flex-start);
    }
    .user-bio__text {
      width: 78%;
      display: grid;
      grid-template-columns: 1fr auto;

      h3 {
        grid-row: 2;
      }
    }
    .user-bio__about,
    .user-stats,
    .icon-link__list {
      width: 77%;
      margin-left: auto;
    }
    .user-bio__about {
      margin-top: -30px;
    }
    .icon-link__list {
      margin-top: 37px;

      li:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
      }
      li:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
      }
    }
  }
}
